streamlit==1.44.1
streamlit-lottie==0.0.5
python-dotenv
langchain-pinecone
langchain-openai
langchain-core
langchain
pandas
pydub
clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
git+https://github.com/openai/whisper.git
torch
SpeechRecognition
pip==25.0
